<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="thesis.uom.pikedia">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera2.full" />


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_profporter_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.camera.PhotographPreview"/>
        <activity android:name=".ui.camera.CameraActivity"/>
        <activity android:name=".ui.factswizard.OpenEndedQuestionsActivity"/>
        <activity android:name=".ui.factswizard.OneAnswerQuestionsActivity"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsActivity"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsOneActivity"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsTwoActivity"/>
        <activity android:name=".ui.participantsinformation.ParticipantsBasicInformationOne"/>
        <activity android:name=".ui.participantsinformation.ParticipantsBasicInformationTwo"/>
        <activity android:name=".ui.crowdsourcingmodule.ExperimentWizardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.camera.FeatureCaptureActivity"/>
        <activity android:name=".ui.camera.FeaturePhotographPreview"/>
        <activity android:name=".ui.factswizard.FeatureInformationActivity"/>
        <activity android:name=".ui.crowdsourcingmodule.PhotographyTipsActivity"/>
        <activity android:name=".ui.crowdsourcingmodule.FeaturePhotographyTipsActivity"/>
        <activity android:name=".ui.crowdsourcingmodule.PointOfInterestShowCaseActivity"/>
        <activity android:name=".ui.questions.QuestionsActivity"/>
        <activity android:name=".ui.questions.AnswersActivity"/>
    </application>

</manifest>