<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="thesis.uom.pikedia"
          android:screenOrientation="portrait"
          android:name="android.support.multidex.MultiDexApplication">
          <!--android:windowSoftInputMode="adjustPan">-->


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera2.full" />


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_profporter_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.PhotographPreview"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.CameraActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.OpenEndedQuestionsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.OneAnswerQuestionsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.OneAnswerQuestionsTwoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsOneActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.MultipleAnswerQuestionsTwoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.participantsinformation.ParticipantsBasicInformationOne"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.participantsinformation.ParticipantsBasicInformationTwo"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.crowdsourcingmodule.ExperimentWizardActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.camera.FeatureCaptureActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.CameraIntentPhotoPreview"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.FeatureInformationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.crowdsourcingmodule.PhotographyTipsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.crowdsourcingmodule.FeaturePhotographyTipsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.crowdsourcingmodule.PointOfInterestShowCaseActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.questions.QuestionsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.questions.AnswersActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.factswizard.FeaturesDescriptionActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>